// Resets, Clearfix, etc
@import "partials/_reset";
@import "partials/_clearfix";

// Variables
$dark-color: #222;
$light-color: #f2f2f2;
$bright-color: orange;
$global-padding: 10px;
$big-font-size: 55px;
$block-font-size: 35px;


// Mixins

@mixin bigfontmix($font-size) {
  font-size: $font-size;
}

@mixin blockfontmix($font-size) {
  font-size: $font-size;
}

// @mixin fontfam($font-fam) {
//   font-family: $font-fam;
// }


// Media Query Ranges
@media screen and (min-width: 0px) and (max-width: 600px) {
  body {
    background-color: $bright-color;
  }

  h1 {
    color: $dark-color;
  }

  .block_family li{
    color: $light-color;
    background-color: $dark-color;
    height: 35px;
    width: 250px;
    margin: 0px 2.5px 20px 2.5px;
    align-content: middle;
    padding: 20px 50px 20px 50px;
  }
}


//////////***MEDIUM SIZE***//////////
@media screen and (min-width: 600px) and (max-width: 900px) {
  body {
    background-color: $bright-color;
  }

  h1 {
    color: $light-color;
  }

  .block_family {
    max-width: 600px;
    margin: auto;
  }

  .block_family li{
    color: $bright-color;
    background-color: $dark-color;
    height: 35px;
    width: 150px;
    margin: 0px 1px 5px 1px;
    align-content: middle;
    padding: 20px 50px 20px 50px;
  }

  .block_family li:nth-child(2n) {
    background: $light-color;
    color: $bright-color;
  }
}

//////////*** BIG SIZE ***//////////
@media screen and (min-width: 900px){
  body {
    background-color: $dark-color;
  }

  h1 {
    @include bigfontmix($big-font-size);
    color: $bright-color;
  }

  .block_family{
    max-width:1000px;
    margin: auto;
  }

  .block_family li{
    color: $dark-color;
    background-color: $bright-color;
    height: 38px;
    width: 160px;
    margin: 0px 3px 10px 3px;
    align-content: middle;
    padding: 20px 50px 20px 50px;
  }

  .block_family li:nth-child(3n + 2) {
    background: $light-color;
    color: $dark-color;
  }
}


// Style
body {
  text-align: center;
}

h1, h2, h3, h4{
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

h1{
  @include bigfontmix($big-font-size);
  padding: 20px;
}

h2{
  // @include fontfam($font-fam);
  @include blockfontmix($block-font-size);
}


.block_family li{
  display: inline-block;
}

  // background: linear-gradient(to bottom, $pink 8%, $blue 33%, $purple 66%, $pink 92%);
  // background-size: 200% 200%;
  // animation: rainbow 3s linear infinite;

//animation
// @keyframes rainbow {
//  0% {
//    background-position:0% 200%;
//  }
//  100% {
//    background-position:0% 0%;
//  }
// }